.sub-title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
}

.sub-title-container h2 {
    width: 100%;
    text-decoration: none;
}

.sub-title-container p {
    font-size: 16px;
    font-weight: 400;
}

.sub-title-link {
    text-decoration: none;
    border-bottom: 2px solid #000000;
}

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 719px) {
    .sub-title-container {
        padding-left: 24px;
        padding-right: 24px;
    }

    .sub-title-container h2 {
        font-size: 20px;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 720px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 960px) {}

/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1025px) {
    .sub-title-container {
        max-width: 1280px;
    }
}