.establish-detf-wrapper {
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.establish-detf-header {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 60px;
}

.establish-detf-button-wrapper {
    padding-top: 60px;
}