.establish-detf-wrapper {
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.establish-detf-header {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
}

.establish-detf-how-it-works {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: right;
    cursor: pointer;
}

.establish-detf-how-it-works-link {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    margin-top: 16px;
}

.establish-detf-button {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    outline: none;
    border: 2px solid #000000;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    height: 66px;
    font-size: 16px;
    font-weight: 700;
    padding: 32px;
    justify-content: center;
    margin-top: 50px;
}

.establish-detf-wrapper-inactive {
    display: none;
}

.confirming-detf-wrapper-inactive {
    display: none;
}

.confirming-detf-wrapper {
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.success-detf-wrapper-inactive {
    display: none;
}

.success-detf-wrapper {
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #00BF6F;
    font-size: 36px;
    font-weight: 700;
}

.success-deposit-button-link {
    text-decoration: none;
}

.success-deposit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    outline: none;
    border: 2px solid #000000;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    height: 66px;
    width: 368px;
    font-size: 16px;
    font-weight: 700;
    padding: 24px;
    margin-top: 60px;
}