.account-detf-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e3e3e3;
}

.account-detf-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.account-detf-header-item {
    width: 20%;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
}

.account-detf-header-item-detf {
    width: 30%;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
}

.account-detf-header-item-value {
    width: 15%;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
}

.account-detf-header-item-return {
    width: 10%;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
}

.account-detf-header-item-timelock {
    width: 25%;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
}

.account-detf-header-item-deposit {
    width: 10%;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
}

.account-detf-header-item-toggle {
    width: 10%;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
}

.account-detf-container-placeholder {
    position: relative;
}

.account-detf-container-placeholder-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #E7E7E7;
    border-radius: 4px;
    border: solid 1px #ffffff;
    opacity: 0.9;
    font-size: 24px;
    font-weight: 700;
}

.account-detf-container-placeholder-overlay-info {
    position: absolute;
    top: 14px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    padding-top: 100px;
}