.account-summary {
    background-color: #e3e3e3;
    padding-bottom: 110px;
}

.account-summary-container {
    margin-left: 120px;
    margin-right: 120px;
}

.account-summary-items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 28px;
    list-style: none;
    justify-content: space-between;

}

.account-summary-item {
    height: 300px;
    width: 380px;
    background-color: #eeeeee;
    border-radius: 8px;
    border: 1px solid white;
    padding: 26px;
}

.portfolio-box-title {
    height: 20%;
}

.portfolio-box-title-text {
    color: #909090;
    font-size: 20px;
    font-weight: 700;
}

.portfolio-box-title-context {
    color: #909090;
    font-size: 14px;
    font-weight: 700;
}

.portfolio-box-balance {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #7140FF;
    font-size: 32px;
    font-weight: 700;
    height: 80%;
}

.return-box-title {
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.return-box-title-text {
    color: #909090;
    font-size: 20px;
    font-weight: 700;
}

.return-box-title-context {
    color: #909090;
    font-size: 14px;
    font-weight: 700;
}

.return-box-title-percentage {
    color: #0FC421;
    font-weight: 700;
    font-size: 20px;
}

.return-box-balance {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #0FC421;
    font-size: 32px;
    font-weight: 700;
    height: 80%;
}

.wallet-box-title {
    height: 20%;
}

.wallet-box-title-text {
    color: #909090;
    font-size: 20px;
    font-weight: 700;
}

.wallet-box-title-context {
    color: #909090;
    font-size: 14px;
    font-weight: 700;
}

.wallet-box-balance {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #909090;
    font-size: 32px;
    font-weight: 700;
    height: 80%;
}