.account-table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e3e3e3;
    padding-left: 120px;
    padding-right: 120px;
    cursor: default;
}

.account-detf-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e3e3e3;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 100px;
}

.account-detf-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.account-detf-header-item {
    width: 20%;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
}

.account-detf-header-item-detf {
    width: 30%;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
}

.account-detf-header-item-value {
    width: 15%;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
}

.account-detf-header-item-return {
    width: 10%;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
}

.account-detf-header-item-timelock {
    width: 25%;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
}

.account-detf-header-item-deposit {
    width: 10%;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
}

.account-detf-header-item-toggle {
    width: 10%;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
}