.beta-invite-container {
    width: 100%;
    background-color: #e3e3e3;
    display: flex;
    position: sticky;
}

.beta-invite-container-strip {
    background-color: #000000;
    width: 10px;
}

.beta-invite-container-join-form {
    display: flex;
    flex-direction: row;
}

.beta-invite-container-join-hidden {
    display: none;
}

.beta-invite-container-thanks-hidden {
    display: none;
}

.beta-invite-container-thanks a {
    color: #000000;
    text-decoration: none;
}

.invite-input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: 0px;
    outline: none;
    border: none;
    border: 1px solid #fff;
    color: #909090;
}

.btn-black {
    background-color: #000000;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
}

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 767px) {
    .beta-invite-container {
        padding-bottom: 50px;
        padding-left: 20px;
    }

    .beta-invite-container-join-form {
        display: flex;
        flex-direction: column;
    }

    .beta-invite-container-join,
    .beta-invite-container-thanks {
        padding-left: 30px;
        padding-top: 13px;
        padding-bottom: 20px;
    }

    .beta-invite-container-join h1,
    .beta-invite-container-thanks h1 {
        font-size: 24px;
        font-weight: 700;
        max-width: 254px;
        line-height: 30px;
        letter-spacing: -1px;
    }

    .beta-invite-container-thanks a {
        font-size: 16px;
    }

    .invite-input {
        margin-top: 20px;
        border-radius: 4px;
        padding: 15px 16px;
        height: 44px;
        width: 254px;
        font-size: 16px;
        margin-bottom: 13px;
    }

    .btn-black {
        border-radius: 4px;
        height: 44px;
        width: 253;
        font-size: 16px;
        font-weight: 700;
    }

}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .beta-invite-container {
        padding-top: 26px;
        padding-bottom: 80px;
        padding-left: 53px;
    }

    .beta-invite-container-join,
    .beta-invite-container-thanks {
        padding-left: 38px;
        padding-top: 19px;
        padding-bottom: 19px;
    }

    .beta-invite-container-join h1,
    .beta-invite-container-thanks h1 {
        font-size: 27px;
        font-weight: 700;
        max-width: 351px;
        line-height: 33px;
        letter-spacing: -1px;
    }

    .beta-invite-container-thanks a {
        font-size: 16px;
    }

    .invite-input {
        margin-top: 20px;
        padding: 5px 17px;
        height: 29px;
        width: 209px;
        font-size: 12px;
        margin-bottom: 14px;
    }

    .btn-black {
        margin-top: 20px;
        height: 29px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
        font-weight: 700;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .beta-invite-container {
        padding-top: 32px;
        padding-bottom: 100px;
        padding-left: 87px;
    }

    .beta-invite-container-join,
    .beta-invite-container-thanks {
        padding-left: 46px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .beta-invite-container-join h1,
    .beta-invite-container-thanks h1 {
        font-size: 29px;
        font-weight: 700;
        max-width: 449px;
        line-height: 35px;
        letter-spacing: -1px;
        margin-bottom: 25px;
    }

    .beta-invite-container-thanks a {
        font-size: 20px;
    }

    .invite-input {
        padding: 7px 17px;
        height: 37px;
        width: 263px;
        font-size: 13px;
        margin-bottom: 15px;
    }

    .btn-black {
        height: 37px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 13px;
        font-weight: 700;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    .beta-invite-container {
        padding-top: 38px;
        padding-bottom: 120px;
        padding-left: 120px;
    }

    .beta-invite-container-join,
    .beta-invite-container-thanks {
        padding-left: 54px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .beta-invite-container-join h1,
    .beta-invite-container-thanks h1 {
        font-size: 32px;
        font-weight: 700;
        max-width: 546px;
        line-height: 38px;
        letter-spacing: -1.3px;
    }

    .beta-invite-container-thanks a {
        font-size: 24px;
    }

    .invite-input {
        margin-top: 30px;
        padding: 8px 20px;
        height: 44px;
        width: 316px;
        font-size: 18px;
        margin-bottom: 16px;
    }

    .btn-black {
        margin-top: 30px;
        height: 44px;
        padding: 8px 20px;
        font-size: 16px;
        font-weight: 700;
    }
}