.deposit-details-container {
    width: 100%;
    display: flex;
    background-color: #e3e3e3;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 158px;
}

.deposit-details-box {
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding-bottom: 140px;
}


.deposit-details-box-balance {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 184px;
    font-size: 24px;
    font-weight: 700;
}

.deposit-details-box-notification {
    background-color: #F4F5CE;
    border-radius: 8px;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 82px;
    padding-right: 82px;
    margin-right: 142px;
    margin-left: 142px;
    font-size: 16px;
}

.deposit-details-box-form {
    padding-top: 88px;
    width: 372px;
}