.detf-assets-table {
    width: 100%;
    margin-top: 20px;
}

.detf-assets-header-item-token,
.detf-assets-header-item-liquidity,
.detf-assets-header-item-weight {
    text-align: left;
    font-size: 14px;
}

.detf-assets-body-row {
    width: 100%;
}

.detf-assets-body-item-token,
.detf-assets-body-item-liquidity,
.detf-assets-body-item-weight {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 24px;
}

.detf-assets-token-logo {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
}

.detf-token-logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 719px) {
    .detf-assets-table {
        display: none;
    }

    .detf-assets-table-mobile {
        width: 100%;
        table-layout: fixed;
        margin-top: 24px;
    }

    .detf-assets-body-row-mobile {
        width: 100%;
    }

    .detf-assets-body-item-mobile {
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 24px;
    }

    .detf-assets-token-logo-mobile {
        display: flex;
        flex-direction: row;
        text-align: left;
        align-items: center;
    }

    .detf-token-logo-mobile {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .detf-assets-header-item-token-mobile {
        width: 80%;
        text-align: left;
        font-size: 14px;
    }

    .detf-assets-header-item-weight-mobile {
        width: 20%;
        text-align: left;
        font-size: 14px;
    }

    .detf-assets-body-item-token-mobile {
        width: 80%;
    }

    .detf-assets-body-item-weight-mobile {
        width: 20%;
    }

    .detf-assets-header-item-liquidity-mobile,
    .detf-assets-body-item-liquidity-mobile {
        display: none;
    }

}

/* Medium devices (tablets, 720px and up) */

@media (min-width: 720px) {
    .detf-assets-table-mobile {
        display: none;
    }

    .detf-assets-header-item-liquidity,
    .detf-assets-body-item-liquidity {
        display: none;
    }
}

/* Large devices (desktops, 960px and up) */

@media (min-width: 960px) {
    .detf-assets-table-mobile {
        display: none;
    }

    .detf-assets-header-item-liquidity,
    .detf-assets-body-item-liquidity {
        display: table-cell;
    }
}

/*Extra large devices (large desktops, 1025px and up)*/

@media (min-width: 1025px) {
    .detf-assets-table-mobile {
        display: none;
    }

    .detf-assets-header-item-liquidity,
    .detf-assets-body-item-liquidity {
        display: table-cell;
    }
}