.detf-index-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e3e3e3;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 160px;
}

.detf-index-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.detf-index-header-item-detf,
.detf-index-header-item-liquidity,
.detf-index-header-item-one-week,
.detf-index-header-item-one-month,
.detf-index-header-item-three-months,
.detf-index-header-item-one-year,
.detf-index-header-item-view {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
}

.detf-index-header-item-detf {
    width: 25%;
}

.detf-index-header-item-liquidity {
    width: 15%;
}

.detf-index-header-item-one-week {
    width: 10%;
}

.detf-index-header-item-one-month {
    width: 10%;
}

.detf-index-header-item-three-months {
    width: 10%;
}

.detf-index-header-item-one-year {
    width: 10%;
}

.detf-index-header-item-logos {
    width: 10%;
}

.detf-index-header-item-view {
    width: 10%;
}

.detf-index-row-items {
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #EEEEEE;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-top: 14px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.detf-index-row-item-detf,
.detf-index-row-item-liquidity,
.detf-index-row-item-one-week,
.detf-index-row-item-one-month,
.detf-index-row-item-three-months,
.detf-index-row-item-one-year,
.detf-index-row-item-logos,
.detf-index-row-item-view {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.detf-index-row-item-detf {
    display: flex;
    flex-direction: row;
    width: 25%;
}

.detf-index-row-item-logo {
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.detf-index-row-item-liquidity {
    width: 15%;
}

.detf-index-row-item-one-week {
    width: 10%;
}

.detf-index-row-item-one-month {
    width: 10%;
}

.detf-index-row-item-three-months {
    width: 10%;
}

.detf-index-row-item-one-year {
    width: 10%;
}

.detf-index-row-item-logos {
    width: 10%;
}

.detf-index-row-item-view {
    width: 10%;
}

.detf-index-row-item-name {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.detf-index-row-item-name-category {
    font-size: 16px;
}

.detf-index-row-item-name-dimension {
    color: #000000;
    font-size: 24px;
    line-height: 24px;
}

.detf-index-row-item-link {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    cursor: default;
}

.detf-index-row-item-none {
    width: 16%;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: #909090;
}

.token-logo-chain-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    background-color: black;
}

.token-logo-chain-item {
    width: 32px;
    height: 32px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
}