.establish-detf {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 160px;
    padding-left: 40px;
    padding-right: 40px;
}

.establish-detf-container {
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 8px;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;
    padding: 80px;
}

.establish-detf-button-wrapper {
    padding-top: 60px;
}

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 719px) {
    .establish-detf {
        padding-top: 40px;
        padding-bottom: 80px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .establish-detf-container {
        padding: 40px;
    }

    .establish-detf-button-wrapper {
        padding-top: 30px;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 720px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 960px) {}

/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1025px) {
    .establish-detf {
        max-width: 1280px;
    }
}