.top-detfs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.top-detfs-boxes {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 24px;
    list-style: none;
    justify-content: space-between;
}

.top-detfs-box {
    height: 300px;
    width: 384px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #EEEEEE;
    border-radius: 8px;
    border: 1px solid white;
    padding: 20px;
}

.top-detfs-box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
}

.top-detfs-box-header-title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    color: #909090;
}

.top-detfs-box-header-title-name-category {
    font-size: 14px;
}

.top-detfs-box-header-title-name-dimension {
    line-height: 14px;
}

.top-detfs-box-header-title-logo {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}


/* Small devices (landscape phones, 576px and up) */

@media (max-width: 719px) {}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 720px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 960px) {}

/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1025px) {
    .top-detfs-container {
        max-width: 1200px;
    }
}