.token-table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
}

.token-table-title {
    padding-top: 80px;
    padding-bottom: 80px;
}

.token-table-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.token-table-header-item-asset,
.token-table-header-item-value,
.token-table-header-item-price,
.token-table-header-item-return,
.token-table-header-item-cta {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.token-table-container-placeholder {
    width: 100%;
    height: 400px;
    /* background-image: url("../../assets/images/account_table_row_placeholder.png"); */
    position: relative;
}

.token-table-container-placeholder-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #E7E7E7;
    border-radius: 4px;
    border: solid 1px #ffffff;
    opacity: 0.9;
    font-size: 24px;
    font-weight: 700;
}

.token-table-container-placeholder-overlay-info {
    position: absolute;
    top: 14px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    padding-left: 24px;
    padding-right: 24px;
}

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 719px) {
    .token-table-header {
        display: none;
    }

    .token-table-title {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .token-table-container {
        padding-top: 40px;
        padding-bottom: 80px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .token-table-title h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .token-table-header-mobile {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: default;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .token-table-header-item-asset-mobile,
    .token-table-header-item-value-mobile,
    .token-table-header-item-price-mobile,
    .token-table-header-item-return-mobile,
    .token-table-header-item-cta-mobile {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 720px) {
    .token-table-header-mobile {
        display: none;
    }

    .token-table-header-item-asset {
        width: 40%;
    }

    .token-table-header-item-value,
    .token-table-header-item-price,
    .token-table-header-item-return,
    .token-table-header-item-cta {
        width: 15%;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 960px) {
    .token-table-header-mobile {
        display: none;
    }

    .token-table-header-item-asset {
        width: 30%;
    }

    .token-table-header-item-value,
    .token-table-header-item-price,
    .token-table-header-item-return {
        width: 15%;
    }

    .token-table-header-item-cta {
        width: 25%;
    }

}

/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1025px) {
    .token-table-header-mobile {
        display: none;
    }

    .token-table-container {
        max-width: 1280px;
    }

    .token-table-header-item-asset {
        width: 30%;
    }

    .token-table-header-item-value,
    .token-table-header-item-price,
    .token-table-header-item-return {
        width: 15%;
    }

    .token-table-header-item-cta {
        width: 25%;
    }

}